.nav {
  padding: 1.5rem 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 10%);
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 6rem;
    .nav_logo {
      align-self: center;
      height: 2rem;
      width: 2rem;
      width: 14rem;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-item {
      margin-right: 2rem;
      list-style: none;
      margin-right: 2rem;
      color: #3b3b3b;
      text-transform: capitalize;
      &:nth-of-type(6) {
        border: 1px solid black;
        border-radius: 0.7rem;
        padding: 0.5rem 1rem;
        &:hover {
          background: #333;
          color: white;
          a {
            text-decoration: none;
            color: #333;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
