.quote-slide {
  min-height: 100%;
}
.carousel-item {
  .slide-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    height: 500px;
    .d-block {
      height: 100%;
      display: none;
    }
    div {
      height: 100%;
      align-items: center;
      padding: 6rem 0 4rem 12rem;
      &::before {
        content: "“";
        position: absolute;
        top: 3rem;
        left: 7.5rem;
        color: #8ac0de;
        font-size: 9.5rem;
      }
      .slide-title {
        display: inline-block;
        margin-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 0.8rem;
        color: #9b9b9b;
        font-weight: 500;
      }
      .brand-information {
        margin: 0;
        padding: 0;
        background-color: none;
      }
      p {
        color: #0f2c4e;
        font-size: 1.3rem;
        max-width: 70%;
        position: relative;
      }
      .brand-information {
        img {
          height: 40px;
          width: 40px;
          margin-right: 1rem;
        }
        span {
          display: inline-block;
          font-size: 1.2rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
