@charset "UTF-8";
.inner-numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.inner-numbers li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner-numbers li .unique-number-1,
.inner-numbers li .unique-number-2 {
  font-family: "Montserrat", sans-serif;
}

.inner-numbers li .unique-number-1 {
  font-size: 1rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #767676;
  font-weight: 400;
}

.inner-numbers li .unique-number-2 {
  color: #0f2c4e;
  font-size: 5rem;
  font-weight: 300;
}

.about-section {
  padding: 65px 0;
}

.about-section .about-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.about-section .about-secondary-title {
  font-size: 3rem;
  max-width: 960px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 100;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #0f2c4e;
}

.about-section .about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-container p {
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-size: 1.1rem;
  width: 45%;
  font-weight: 400;
  color: #2a2b2a;
}

.communities {
  width: 80%;
  margin: 0 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communities ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.communities ul li {
  list-style: none;
}

.communities ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-decoration: none;
  list-style: none;
}

.communities ul li a span:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  margin-top: 2.5rem;
}

.communities ul li a span:last-child {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  padding-top: 0.5rem;
}

.communities ul li:last-child {
  padding: 0;
}

.communities ul .property4 {
  background: #0f2c4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15%;
}

.communities ul .property4 a {
  width: 75%;
}

.contact-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.contact-section .contact-title {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

.contact-section div {
  padding: 0 0 2.5rem 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section div svg {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 200px;
  width: 200px;
}

.contact-section div a {
  text-transform: capitalize;
  color: #3b3b3b;
  text-decoration: none;
  margin-bottom: 1rem;
}

.contact-section div a:hover {
  border-left: 5px solid #8ac0de;
  padding-left: 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-section div:first-child {
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section div:first-child h2,
.contact-section div:first-child span {
  color: white;
}

.contact-section div:first-child h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.description-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 65px 0;
}

.description-section .carousel-inner {
  height: 65vh;
}

.description-section .carousel-inner .carousel-item {
  height: 100%;
}

.description-section .carousel-control-prev,
.description-section .carousel-control-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-section .carousel-control-next-icon,
.description-section .carousel-control-prev-icon {
  height: 4rem;
  width: 4rem;
}

.description-container {
  margin: 0 10%;
  padding: 2rem 10% 0;
}

.description-container h2 {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.description-container .description-1 {
  font-size: 2rem;
  padding-bottom: 40px;
  font-weight: 300;
}

.description-container .description-2 {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.discovery-properties {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  height: 65vh;
}

.discovery-properties li {
  list-style: none;
  position: relative;
}

.discovery-properties li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.discovery-properties li .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discovery-properties li .image-overlay:hover {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.discovery-properties li .image-overlay div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.discovery-properties li .image-overlay div h2,
.discovery-properties li .image-overlay div span {
  color: white;
}

.discovery-properties li .image-overlay div span {
  display: inline-block;
  font-size: 1.5rem;
  max-width: 70%;
  font-family: "Roboto", sans-serif;
}

.discovery-properties li .image-overlay div h2 {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.footer {
  height: 8rem;
  border-top: 1px solid #e4e4e4;
}

.footer .container {
  height: 100%;
}

.footer .footer-item-5 {
  padding: 0.75rem;
  border-radius: 0.6rem;
  background-color: #c38f1b;
  color: white;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer div .info-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer div .info-links a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #3b3b3b;
  margin-right: 1.5rem;
}

.hero {
  height: 100vh;
}

.hero img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 5rem;
}

.hero .hero_overlay .hero_overlay--heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 65%;
  margin: 7.5rem 0 0 10.5rem;
  height: 35%;
}

.hero .hero_overlay .hero_overlay--heading:not(:nth-child(3)) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero_overlay .hero_overlay--heading p {
  font-size: calc(3.5rem + 1.25vw);
  margin: 1rem 0;
  max-width: 60%;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 0.2rem;
}

.hero .hero_overlay .hero_overlay--heading p::first-letter {
  text-transform: uppercase;
}

.hero .hero_overlay .hero_overlay--heading a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: white;
}

.hero .hero_overlay .hero_overlay--heading a svg {
  margin-right: 0.75rem;
}

.hero .hero_overlay .hero_overlay--heading h1 {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: white;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 14rem;
  background-color: #f8f8f8;
  margin-bottom: 0;
}

.link-container .community-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px solid #e4e4e4;
}

.link-container .community-link:not(:last-child) {
  border-right: 1px solid #e4e4e4;
}

.link-container .community-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
}

.link-container .community-link a .link-icon {
  margin-bottom: 1rem;
}

.link-container .community-link a .link-icon img {
  height: 3.5rem;
  width: 3.5rem;
}

.link-container .community-link a .link-title {
  color: #0f2c4e;
}

.link-container .community-link .community-link-3 img {
  height: 5rem;
  width: 5rem;
}

.nav {
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 2px 4px 0 black;
          box-shadow: 0 2px 4px 0 black;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 6rem;
}

.nav .nav_container .nav_logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 2rem;
  width: 2rem;
  width: 14rem;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.nav ul .nav-item {
  margin-right: 2rem;
  list-style: none;
  margin-right: 2rem;
  color: #3b3b3b;
  text-transform: capitalize;
}

.nav ul .nav-item:nth-of-type(6) {
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
}

.nav ul .nav-item:nth-of-type(6):hover {
  background: #333;
  color: white;
}

.nav ul .nav-item:nth-of-type(6):hover a {
  text-decoration: none;
  color: #333;
}

.nav ul .nav-item:nth-of-type(6):hover a:hover {
  color: white;
}

.quote-slide {
  min-height: 100%;
}

.carousel-item .slide-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
  height: 500px;
}

.carousel-item .slide-container .d-block {
  height: 100%;
  display: none;
}

.carousel-item .slide-container div {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0 4rem 12rem;
}

.carousel-item .slide-container div::before {
  content: "“";
  position: absolute;
  top: 3rem;
  left: 7.5rem;
  color: #8ac0de;
  font-size: 9.5rem;
}

.carousel-item .slide-container div .slide-title {
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  color: #9b9b9b;
  font-weight: 500;
}

.carousel-item .slide-container div .brand-information {
  margin: 0;
  padding: 0;
  background-color: none;
}

.carousel-item .slide-container div p {
  color: #0f2c4e;
  font-size: 1.3rem;
  max-width: 70%;
  position: relative;
}

.carousel-item .slide-container div .brand-information img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.carousel-item .slide-container div .brand-information span {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.promotion-section {
  background: white;
  height: 70vh;
  margin-top: 65px;
}

.promotion-section div {
  height: 100%;
  position: relative;
}

.promotion-section div video,
.promotion-section div video source {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 400px) {
  /* navigation */
  .nav {
    padding: 0;
    height: 5rem;
  }
  .nav_container {
    min-height: 100%;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: yellow;
  }
  .nav_logo {
    height: 0;
  }
  .nav_logo a div {
    border: 1px solid blue;
    min-height: 100%;
  }
  .nav_logo a div svg {
    height: 100%;
    width: 11.5rem;
  }
  .nav ul {
    margin-bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    display: none;
  }
  .nav-item:nth-of-type(6) {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: orange;
    color: white;
    border-radius: 0;
    outline: none;
    border: none;
  }
  /* hero section */
  .hero,
  img,
  .hero_overlay--heading,
  .hero_overlay {
    height: 680px;
  }
  .hero_overlay {
    padding-top: 0;
    top: 0;
    bottom: 0;
  }
  .hero_overlay--heading {
    min-width: 100%;
    margin: 0 0 0 0;
    padding: 0 2rem;
    line-height: 4.5rem;
  }
  .hero_overlay--heading a {
    margin-bottom: 3rem;
  }
  .hero_overlay--heading p {
    min-width: 100%;
  }
  /* communities section */
  .communities {
    margin: 0;
    height: 1rem;
    width: 95%;
  }
  .communities > .container {
    margin-bottom: 6rem;
  }
  .communities ul li:not(:last-child) {
    display: none;
  }
  .property4 a {
    margin: 0 auto;
    width: 100%;
    padding: 0.75rem;
  }
  .communities ul li a span:last-child {
    font-size: 1.2rem;
  }
  /* description section */
  .description-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 4rem;
  }
  .description-container {
    padding: 0;
    margin-top: 1rem;
  }
  .description-1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .description-2 {
    margin-bottom: 3rem;
  }
  .description-container h2 {
    letter-spacing: 0.3rem;
  }
  .description-section .carousel-inner {
    height: 350px;
  }
  .carousel-inner img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* discovery properties */
  .discovery-container .discovery-properties {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .discovery-properties {
    height: 900px;
  }
  /* about section */
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-title {
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
  }
  .about-container p {
    width: 90%;
    margin: 0 auto;
  }
  .about-secondary-title {
    font-size: 2.2rem;
  }
  /* numbers section */
  .numbers-section {
    width: 85%;
    margin: 0 auto;
  }
  .numbers-section .container {
    padding: 0;
  }
  .inner-numbers {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    padding: 0;
  }
  .inner-numbers li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .unique-number-2 {
    font-size: 3.5rem;
  }
  .inner-numbers span {
    text-align: center;
  }
  /* promotional section */
  .promotion-section {
    height: 15rem;
  }
  /* quote section */
  .quote-section .carousel-inner {
    height: 100%;
  }
  .quote-slide .d-block {
    height: 100%;
    display: inline-block;
    display: none;
  }
  .carousel-item .slide-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .slide-container div {
    padding: 6rem 1.5rem 1.5rem 1.5rem;
  }
  .slide-container div p {
    min-width: 100%;
    padding: 0;
  }
  .slide-container div::before {
    font-size: 7.5rem;
    top: 0;
    left: 1rem;
  }
  .slide-container .d-block {
    display: none;
  }
  /* community links section */
  .link-container {
    display: flex unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 400px;
  }
  /* contact section */
  .contact-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .contact-section div {
    padding: 0;
    width: 100%;
    padding-left: 1.5rem;
  }
  .contact-section div:nth-of-type(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact-section div:nth-of-type(2) {
    margin: 0;
  }
  .contact-section div:nth-of-type(1),
  .contact-section div:nth-of-type(2) {
    padding-top: 1rem;
  }
  .contact-section div:nth-of-type(3) {
    margin-top: 3rem;
  }
  .contact-section .contact-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .contact-section div:first-child h2,
  .contact-section div:first-child span .learn-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* footer section */
  .footer {
    height: 250px;
  }
  .footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .info-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr;
        grid-template-columns: 1.5fr 1fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .footer div .info-links a {
    text-align: center;
    margin-right: 0;
  }
  .footer-button {
    margin: 2rem 0;
    display: inline-block;
    width: 75%;
  }
}
/*# sourceMappingURL=App.css.map */