@media screen and (min-width: 401px) and (max-width: 768px) {
  /* navigation */
  .nav {
    padding: 0;
    height: 5rem;

    .nav_container {
      min-height: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: yellow;
      .nav_logo {
        height: 0;
        div {
          min-height: 100%;
          svg {
            height: 100%;
            width: 11.5rem;
          }
        }
      }
    }

    ul {
      margin-bottom: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      background-color: white;
      display: none;
      &:nth-of-type(6) {
        display: inline-block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: orange;
        color: white;
        border-radius: 0;
        outline: none;
        border: none;
      }
    }
  }
  /* hero section */
  .hero,
  img,
  .hero_overlay--heading,
  .hero_overlay {
    height: 680px;
  }
  .hero {
    .hero_overlay {
      padding-top: 0;
      top: 5rem;
      bottom: 0;
      height: 600px;
      .hero_overlay--heading {
        min-width: 100%;
        margin: 8rem 0 0 0;
        padding: 0 4rem;
        line-height: 4.5rem;
        a {
          margin-bottom: 3rem;
        }
        p {
          min-width: 100%;
        }
      }
    }
  }
  /* communities section */
  .communities {
    margin: 0;
    height: 1rem;
    width: 95%;

    ul {
      li {
        &:not(:last-child) {
          visibility: hidden;
        }
      }
      .property4 {
        a {
          margin: 0 auto;
          width: 100%;
          padding: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  /* description section */
  .description-section {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 4rem;
  }
  .description-container {
    padding: 0;
    margin-top: 1rem;
  }
  .description-1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .description-2 {
    margin-bottom: 3rem;
  }
  .description-container h2 {
    letter-spacing: 0.3rem;
  }
  .description-section .carousel-inner {
    height: 350px;
  }
  .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* discovery properties */
  .discovery-container {
    .discovery-properties {
      grid-template-columns: repeat(3, 1fr);
      height: 400px;
    }
  }

  /* about section */
  .container {
    .about-container {
      flex-direction: row;
      .about-title {
        letter-spacing: 0.3rem;
        margin-bottom: 2rem;
      }
      p {
        width: 100%;
      }
      .about-secondary-title {
        font-size: 2.2rem;
      }
    }
  }

  /* numbers section */
  .numbers-section {
    width: 85%;
    margin: 0 auto;

    .numbers-section .container {
      padding: 0;
    }
    .inner-numbers {
      grid-template-columns: repeat(1, 1fr);
      display: flex;
      padding: 0;
      span {
        text-align: center;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        .unique-number-2 {
          font-size: 3.5rem;
        }
      }
    }
  }
  /* promotional section */
  .promotion-section {
    height: 400px;
  }

  /* quote section */

  .quote-section .carousel-inner {
    height: 100%;
  }
  .quote-slide .d-block {
    height: 100%;
    display: inline-block;
    display: none;
  }
  .carousel-item {
    .slide-container {
      grid-template-columns: repeat(2, 1fr);
      .d-block {
        display: none;
      }
      div {
        padding: 6rem 1.5rem 1.5rem 1.5rem;
        &::before {
          font-size: 7.5rem;
          top: 0;
          left: 1rem;
        }
        p {
          min-width: 100%;
          padding: 0;
        }
      }
    }
  }

  /* community links section */
  .link-container {
    display: flex unset;
    flex-direction: row;
    padding: 0;
    height: 400px;
  }

  /* contact section */
  .contact-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    div {
      padding: 0;
      width: 100%;
      padding-left: 1.5rem;
      &:first-child h2,
      &:first-child span .learn-link {
        display: flex;
        flex-direction: column;
      }
      &:nth-of-type(1),
      &:nth-of-type(2) {
        padding-top: 1rem;
      }
      &:nth-of-type(1) {
        align-items: flex-start;
        justify-content: flex-start;
      }
      &:nth-of-type(2) {
        margin: 0;
      }
      &:nth-of-type(3) {
        padding-top: 1rem;
      }
    }
    .contact-title {
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
  }
  /* footer section */
  .footer {
    height: 250px;

    .container {
      flex-direction: column;
      height: 50%;
      margin: 2rem;
      .info-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        width: 100%;
        a {
          margin-right: 0;
        }
      }

      .footer-button {
        margin: 2rem 0;
        display: inline-block;
        align-self: flex-start;
      }
    }
  }
}
