// navigation
.nav {
  background: transparent;
  box-shadow: none;
  .nav_container {
    ul {
      li {
        text-decoration: none;
        &:hover:not(:nth-of-type(6)) {
          border-top: 3px solid #0693e3;
          padding: 0;
        }
        a {
          text-decoration: none;
          color: #fff;
        }
        &:nth-of-type(6) {
          background: transparent;
          outline: none;
          border: 1px solid #fff;
          &:hover {
            background-color: #fff;
            color: #333;
            pointer-events: none;
          }
          a {
            color: #fff;
            pointer-events: none;
          }
        }
        &:nth-of-type(7) {
          &:hover {
            border: 1px solid #0693e3;
            padding: 15px 20px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: inline-block;
          }
        }
        svg {
          color: #fff;
        }
      }
    }
  }
}

// hero section
.hero {
  .hero_overlay {
    .hero_overlay--heading {
      width: 100%;
      max-width: 1100px;
      margin: 8rem auto;
      h1 {
        letter-spacing: 3px;
      }
    }
  }
}
// communities
.communities {
  justify-content: space-around;
  width: 100%;
  margin: 0;
  ul {
    .property4 {
      width: 25%;
    }
    li {
      margin-right: 3rem;
    }
  }
}

// about section
.about-section {
  .about-title {
    letter-spacing: 3px;
  }
}

// description section
.description-section {
  margin-top: 2rem;
  .description-container {
    h2 {
      letter-spacing: 3px;
    }
  }
  .carousel-inner {
    div {
      img {
        height: 100%;
      }
    }
  }
}

// contact-section
.contact-section {
  div:nth-of-type(3) {
    .contact-title {
      margin-top: 2rem;
    }
  }
}
